{% set href = anchor.original.url %}
{% set src = anchor.image.url %}
{% set title = anchor.entry.title|trim %}
{% set alt = anchor.entry.alt|trim %}

<a href="{{ href }}" {{ attributes|raw }} {% if title %} title="{{ title }}" {% endif %}>
    <img src="{{ src }}" alt="{{ alt }}">
</a>